<!-- fontawesome is beign ised for social icons -->

<footer
  class="footer"
  role="contentinfo"
  itemscope
  itemtype="http://schema.org/WPFooter"
>
  <hr class="footer-break" />
  <ul
    class="footer-links"
    role="navigation"
    aria-labelledby="footer-links-heading"
  >
    <h3 id="footer-links-heading" class="sr-only">Lounges</h3>
    <li><a href="#"> Whatsapp</a></li>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">X</a></li>
    <li><a href="#">Hotels</a></li>
  </ul>
  <p class="copyright">©Company 2025</p>
</footer>
