<% layout('/layouts/boilerplate') -%>

<h2>Your Favorite Lounges</h2>

<% if (favorites.length === 0) { %>
<p>You have no favorites yet.</p>
<% } else { %>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% favorites.forEach(l => { %>
  <a href="/listing/<%= l._id %>" class="list-link">
    <div class="card">
      <img
        src="<%= l.image.url %>"
        style="height: 20rem"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <b><h5 class="card-title"><%= l.title %></h5></b>
        <p class="card-text">₹ <%= l.price.toLocaleString("en-IN") %> /night</p>
      </div>
    </div>
  </a>
  <% }) %>
</div>
<% } %>
